<footer class="footer container-fluid bg-light border-top">
    <div class="content">
        <div class="icons">
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#"> <i class="fa-brands fa-square-x-twitter"></i></a>
            <a href="#"> <i class="fa-brands fa-square-instagram"></i></a> 
        </div>
        <p>&copy;2025 WonderLust by PR_Techify</p>
        <div class="footer-links">
            <a href="#">privacy</a> |
            <a href="#">Terms & condition</a>
        </div>    
    </div>
</footer>