<nav class="navbar navbar-expand-md bg-body-tertiary w-100 fixed-top border-bottom " >
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-compass"></i>  WonderLust</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link active" aria-current="page" href="/listing">All Listings</a>
        <a class="nav-link" href="/new">New Listing</a>
      </div>
       <div class="navbar-nav ms-auto">
        <%if(currentUser){ %>
          <a class="nav-link  bg-primary text-white rounded px-3 mx-1" href="/logout">log out</a>
        <%}%>
        <%if(!currentUser){%>
           <a class="nav-link  bg-primary text-white rounded px-3 mx-1" href="/login">log in</a>
            <a class="nav-link  bg-primary text-white rounded px-3 mx-1" href="/signup">sign up</a>
        <%}%>  
        </div>
    </div>
  </div>
</nav>