<link href="/css/Error.css" rel="stylesheet">

<div class="container">
    <div class="page2">
        <h1>This site can’t be reached</h1>
        <p><b>Error</b> : <mark><%=err.message%></mark> </p>
        <pre>
        Try:
            :-Checking the connection
            :-Checking the proxy and the firewall
                ERR_CONNECTION_REFUSED
        </pre>
    </div>
</div>