
<link href="/css/Error.css" rel="stylesheet">
<div class="container page">
    <div class="page-text">
        <h1>WonderLust</h1>
        <p><b><%=err.status%></b> <%=err.message%>.</p>
        <pre>The requested URL /shvbdhb was not found on this 
        server. That’s all we know.</pre>
    </div>
    <div class="page-img">
        <img src="/images/404-Page.jpg" alt="404 image" id="img" >
    </div>

</div>