:root{
    font-size:62.5%;
}

/* -----------page Not found--------------- */

.page{
    width:100%;
    min-height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    
}

#img{
    max-width:60rem;
    height:40rem;
    border-radius:10px;
}

.page-text{
    padding:1rem;
    font-size:2rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
@media(max-width:800px){

    :root{
        font-size:40%;
    }
    .page{
        flex-direction:column;
    }


}

/* ------------Other Error -------- */

.page2{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.container{
    width:100%;
    height:100%;
     display:flex;
    justify-content:center;
    align-items:center;
    font-size:2rem;

}